body{
	margin: 0;padding: 0;
	background-color: #BBBBBB;
}
.block{
	width: 1080px;
	height: 3000px;
	background-color:#ffffff;
	margin-left: 22%;
	position: absolute;
}
.logo{
	position: absolute;
	margin-left: 30px;
	margin-top: 30px;
}
.menu2{
	width: 160px;
	height: 1400px;
	position: absolute;
	margin-left:920px;
	background-color:#e6e6e6;
	border-radius:17px;
}
ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
  text-align: center;
}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/
    font-weight: 600;




}
li{
	padding-top:13px;

}
.nenu{
	margin-top: 140px;
	width: 1080px;
	height: 100px;
  
    position: absolute;
    margin-left:20px; 
}
.san{
padding:10px;
border-radius: 10px;
margin-top: 10px;
margin-left: 100px;
background-color:#fafafa;

}
.kartinka{
	position: absolute;
	margin-top: 300px;
	margin-left: 30px;
}
.kartinka2{
	position: absolute;
	margin-top: 870px;
	margin-left: 30px;
}

.arbitr{
	font-size: 35px;
	font-weight: 600;
	margin-left: 35%;
	margin-top: 1350px;
}
.infa1{
	margin-top: 30px;
	position: absolute;
}
.infa1 img{
	margin-left: 30px;
}
.text{
text-align: center;
width: 250px;
margin-left: 580px;
margin-top: -230px;
}
.text a{
	font-weight: 600;
	font-size: 20px;
}
.infa2{
	margin-top: 350px;
	position: absolute;
}
.infa2 img{
	margin-left: 30px;
}
.text1{
text-align: center;
width: 250px;
margin-left: 580px;
margin-top: -230px;
}
.text1 a{
	font-weight: 600;
	font-size: 20px;
}

.infa3{
	margin-top: 710px;
	position: absolute;
}
.infa3 img{
	margin-left: 30px;
}
.text2{
text-align: center;
width: 250px;
margin-left: 580px;
margin-top: -230px;
}
.text2 a{
	font-weight: 600;
	font-size: 20px;
}